

<div class="card">

    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
             cumque adipisci delectus consequatur soluta iusto quidem, temporibus omnis expedita quis fuga reiciendis quasi.
              Earum, quibusdam dicta. Quidem tempora alias perferendis.</p>
    </div>
</div>