<div class="jumbotron mt-4">
   <h1>Notes App nodejs and Mongodb</h1>
   <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
   <hr class="my-4">
   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Minus, hic quisquam veniam molestiae consequuntur sequi alias.
         Qui itaque voluptate consequatur odit quisquam obcaecati autem sit, modi blanditiis dicta ipsam. A?</p>
         <a href="https://jafetgtz.github.io" class="btn btn-primary btn-lg ">JafetWEB</a>
</div>